:root {
  --primary: #e4ac12;
  --primary2: #fff;
  --primary3: #fff958;
}

* {
  line-height: 20px;
  font-size: 22px;
  font-weight: 600;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: var(--primary2);
  font-size: 1.2rem;
}
body {
  margin: 0px;
  padding: 0px;
}
.navigasi-atas {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}

.layar-penuh {
  width: 100%;
}

/* pengaturan navbar */

nav {
  z-index: 100;
  color: var(--primary2);
  text-align: center;
  position: fixed;
  line-height: 60px;
  width: 100%;
  height: 60;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

nav.hitam {
  background-color: var(--primary2);
}

nav .logo {
  float: left;
  position: relative;
  right: 150px;
  line-height: 55px;
  text-align: center;
}

nav .logo img {
  height: 50px;
  padding-top: 20px;
}
nav .menu {
  position: relative;
  left: 150px;
  height: 60px;
  max-width: 600px;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: var(--primary2);
  text-align: center;
  padding: 0px 16px 0px 16px;
  font-family: "Fredoka";
  transition: 0.5s;
}

nav ul li a:hover {
  color: var(--primary);
  font-size: 20px;
}

.active {
  color: var(--primary3);
}

/* slider */
.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .detail {
  position: absolute;
  top: 20%;
  max-width: 80%;
  left: 32%;
  transform: translateX(-50%);
  margin: auto;
}

.slider .list .item .detail .judul {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Fredoka";
  letter-spacing: 10;
  margin-bottom: 50;
}

.slider .list .item .detail .nama {
  font-family: "Bebas Neue";
  font-weight: 100;
  font-size: 100;
  margin-bottom: 40px;
}

.slider .list .item .detail .nama span {
  font-size: 100;
  font-weight: 100;
  color: var(--primary);
}

.slider .list .item .detail .desc {
  font-family: "fredoka";
  font-weight: 100;
  width: 500;
  text-align: justify;
  margin-bottom: 50;
  text-shadow: 1px 4px 2px #000;
}
.slider .list .item .detail .more {
  color: var(--primary);
  background-color: var(--primary2);
  border-radius: 0.3rem;
  padding: 5;
  font-family: "fredoka";
  font-size: 19;
  padding-left: 10;
  padding-right: 10;
  transition: 0.3s;
}

.slider .list .item .detail .more:hover {
  font-size: 20;
  color: var(--primary2);
  background-color: var(--primary);
}

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 60%;
  width: max-content;
  z-index: 999;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 120px;
  height: 150px;
  position: relative;
  flex-shrink: 0;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.thumbnail .item .detail {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.thumbnail .item .detail .name {
  font-family: "Bebas Neue";
  text-align: right;
  font-weight: 100;
  padding-right: 6;
}

.thumbnail .item .detail blockquote {
  font-size: 0.5rem;
  font-family: "Fredoka";
  font-weight: 100;
  line-height: 1;
  text-align: right;
  text-shadow: 1px 1px 1px #000;
  padding-right: 9;
}

/* arrows */
.arrows {
  position: absolute;
  top: 75%;
  right: 32%;
  width: 300px;
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.arrows button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 4px 4px var(--primary);
  font-family: monospace;
  color: var(--primary);
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  font-size: 50;
}

.arrows button:hover {
  background-color: var(--primary);
  color: var(--primary2);
}

/* starting animation */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

.slider .list .item:nth-child(1) .judul,
.slider .list .item:nth-child(1) .nama,
.slider .list .item:nth-child(1) .desc,
.slider .list .item:nth-child(1) .more {
  transform: translateY(50px);
  filter: blur(50px);
  opacity: 0;
  animation: showDetail 0.2s 0.2s linear 1 forwards;
}

@keyframes showDetail {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .list .item:nth-child(1) .judul {
  animation-delay: 1.2s;
}
.slider .list .item:nth-child(1) .nama {
  animation-delay: 1.4s;
}
.slider .list .item:nth-child(1) .desc {
  animation-delay: 1.6s;
}
.slider .list .item:nth-child(1) .more {
  animation-delay: 1.8s;
}

/* action next */

.slider.next .list .item:nth-child(1) > img {
  width: 120px;
  height: 150px;
  position: absolute;
  bottom: 50px;
  left: 70%;
  border-radius: 15px;
  animation: growImage 0.5s linear 1 forwards;
}

@keyframes growImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 120px;
    opacity: 1;
  }
}

.slider.next .thumbnail {
  transform: translateX(150px);
  animation: transfromThumbnail 0.5s linear 1 forwards;
}

@keyframes transfromThumbnail {
  to {
    transform: translateX(0);
  }
}

/* action previous */
.slider.prev .list .item:nth-child(2){
  z-index: 2;
}
.slider.prev .list .item:nth-child(2) > img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: shrinkImage 0.5s linear 1 forwards;
}

@keyframes shrinkImage {
  to{
    width: 120px;
    height: 150px;
    border-radius: 15px;
    left: 60%;
    bottom: 50px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}


/* menghilangkan */
.slider.prev .list .item:nth-child(2) .judul,
.slider.prev .list .item:nth-child(2) .nama,
.slider.prev .list .item:nth-child(2) .desc,
.slider.prev .list .item:nth-child(2) .more {
  animation: hideDetail 0.2s 1s linear 1 forwards;
}

@keyframes hideDetail {
  to{
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
} 

.slider.next .arrows button,
.slider.prev .arrows button{
  pointer-events: none;
}

/* loading bar */
.loading-bar{
  width: 0%;
  height: 5px;
  background-color: var(--primary);
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
}

.slider.next .loading-bar,
.slider.prev .loading-bar{
  width: 100%;
  animation: loadingTime 2s linear 1 forwards;
}

@keyframes loadingTime {
  to{
    width: 0;
  }
}